* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #808080;
    --primary: #B91450;
    --light: #CCCCCC;
}

body {
    background-color: var(--primary);
}

.train_border_primary {
    border: 1px solid var(--primary);
}

.train_bg_dark {
    background-color: var(--dark);
}

.train_bt_light {
    border-top: 2px solid var(--light);
}

.train_bb_light {
    border-bottom: 2px solid var(--light);
}